.bg-box {
  position: absolute;
  height: 100%;
  background-color: $gold;
  z-index: 1;

  @media screen and (min-width: 992px) {
    width: 42%;
  }

  &--left {
    top: 0;
    left: 0;
  }

  &--right {
    top: 0;
    right: 0;
  }
}