.button {
  background-color: $black;
  color: $white;
  padding: 1rem 2.8rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  display: inline-block;
  transition: all .5s ease;
  backface-visibility: hidden;

  &:hover {
    background-color: $gold;
    color: $black;
    font-weight: 700;
  }

  &--outline {
    border: 2px solid $white;

    &:hover {
      border: 2px solid $gold;
    }
  }
}